.home-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
	
}

.hidden-navigate-thanh .text-menu{
	font-size:25px;
	margin:20px 0px 10px 0px;
	padding-bottom:15px;
	border-bottom:1px solid white;
}
.hidden-navigate-thanh .text-com{
	padding:10px;
	cursor:pointer;
}

.screen-all-foggy{
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:10;
}
.hidden-navigate-thanh{
	position:fixed;
	left:-200px;
	top:0px;
	width:200px;
	height:100%;
	z-index:11;
}

.body-footer{
	width:100%;
	float:left ;
	margin-top:215px
}
.home-footer{
    float: left;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.home-footer p{
	padding:20px 0px;
	margin: 0px;
}
.top-of-page{
	color:white;
	    box-shadow: 0px 0px 6px 4px #6f6f6f;
}

.font-for-home-page{
	font-size: 20px;
    float: left;
    width: 60%;
    margin-left: 26%;
    margin-top: 85px;
    font-family: monospace;
}

.top-page-image-1{
	background-image: url('../resource/img/TranTrungThanh-background-4.jpg');
}

.top-page-image-2{
	background-image: url('../resource/img/TranTrungThanh-background-2.jpg');
}

.top-page-image-3{
	background-image: url('../resource/img/TranTrungThanh-background-3.jpg');
}

.text-greeting-tran-Trung-Thanh{
	opacity:0;
	padding-left: 10%;
}
.top-navigate-page{
    float: left;
    width: 100%;
    margin: 15px 0px;
}

.nav-top-menu-thanh{
    background-color: #34403f;
    color: white !important;
    text-decoration: none !important;
    margin: 0px 8px;
    padding: 5px 15px;
    position: relative;
    border: 1px solid #a08f8f;
}

.nav-top-menu-thanh::after{
    position: absolute;
    left: 0px;
    top: 0px;
    content: "";
    border: solid;
    border-width: 15px 15px 0px 0px;
    border-color: red transparent transparent transparent;
	
}

.nav-top-menu-thanh:hover{
	background-color:#a51010;
	border: 1px solid #a24848;
}

.top-navigate-page .active{
	background-color:#a51010;
	border: 1px solid #a24848;
}

.text-align-tran-trung-thanh{
	height: 150px;
}

@media (max-width: 575.98px) { 
	.img-avatar-TranTrungThanh{
		display:none;
	}
	
	.font-for-home-page{
		font-size: 20px;
		float: left;
		width: 60%;
		margin-left: 26%;
		margin-top: 15px;
		font-family: monospace;
		margin-bottom:5rem;
	}
	.text-name-trantrungthanh910{
		font-size: 2rem;
	}
	.top-navigate-page{
		float: left;
		margin-left: 10px;
	}
	.text-align-tran-trung-thanh{
		text-align:right;
	}
	.body-footer{
		margin-top:245px
	}
}


@media (min-width: 576px) and (max-width: 767.98px) { 
	.img-avatar-TranTrungThanh{
		border: 3px solid #2566dc;
		position: absolute;
		right: 5%;
		top: 10px;
	}
	.top-navigate-page{
		float: left;
		margin-left: 10px;
	}
}


@media (min-width: 768px) and (max-width: 991.98px) { 
	.img-avatar-TranTrungThanh{
		border: 3px solid #2566dc;
		position: absolute;
		left: 15%;
		top: 120px;
	}
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
	.img-avatar-TranTrungThanh{
		border: 3px solid #2566dc;
		position: absolute;
		left: 15%;
		top: 120px;
	}
}


@media (min-width: 1200px) { 
	.img-avatar-TranTrungThanh{
		border: 3px solid #2566dc;
		position: absolute;
		left: 15%;
		top: 120px;
	}
}